@{
    ViewData["Title"] = "eCommerce - Complete";
}

<br />
<br />
<br />
<br />
<br />
<br />
<div class="d-flex">
    <div class="container border border-1 p-3" align="center">
        <div class="row">
            <div class="col">
                <span style="font-weight:bold">
                    @ViewBag.completeMsg
                </span>
            </div>
        </div>
    
    </div>
</div>
