@model IEnumerable<Artwork>  // The model that is list of Artwork will be passed from controller to this view

@{
    ViewData["Title"] = "eCommerce";
}

<div class="container">

    <!-- Loop through and display each item -->
    <div class="row">
        @foreach (var item in Model)
        {
            <div class="col-sm-auto">
                <div class="row">
                    <div class="col">
                        <img class="img-fluid" src="@item.Url" width="200" />
                    </div>
                </div>
                <div class="row">
                    <div class="col">
                        @item.Title
                    </div>
                </div>
                <div class="row">
                    <div class="col">
                        $@item.Price
                        <br /><br />
                    </div>
                </div>
                <div class="row">
                    <div class="col">
                        <label for="qty">Qty</label>
                        <select id="qty">
                            @for(int i = 1; i <= 10; ++i)
                            {
                                <option value="@i">@i</option>
                            }
                        </select>
                        <input type="button" value="Add" style="width:150px" />
                    </div>
                </div>
                <br /><br />
            </div>
        }
    </div>

</div>