@{
    Layout = "/Views/Shared/_Layout.cshtml";
}

<div class="d-flex justify-content-center align-items-center vh-100">
        <div class="card login-logout-card border-primary" style="width: 500px">
            <div class="card-header">
                <ul class="nav nav-tabs card-header-tabs">
                    <li class="nav-item">
                        <a class="nav-link" id="guestTab" href="/Identity/Account/Login?guestId=guestTab">Guest</a>
                    </li>
                    <li class="nav-item">
                    <a class="nav-link" id="memberTab" href="/Identity/Account/Login?guestId=memberTab">Member</a>
                    </li>
                </ul>
            </div>
            <div class="card-body">
                <div class="row justify-content-center">
                    <div class="my-4" align="center">
                        @RenderBody()
                    </div>
                </div>
            </div>
        </div>
</div>

@section Scripts{

    @await RenderSectionAsync("Scripts", required: false)

    <script>

        // Function is to Wait until document finishes loading first
        $(function () {

            /* Can't utilize this 'when click' event on anchor because clicking
            /* will cause page to reload and script will reset to wait for document
            /* to finish again.
            */
            // When user clicks on list item/tab anchor/link
            // $('.nav-tabs li a').click(function(){
            //    // Set tab to active
            // })

            // Look through all tabs and set active to tab that matches current page
            $('.nav-tabs li a').each(function() {

                //const currentPage = location.pathname;
                //var curUrl = currentPage.toLowerCase();
                //var ancUrl = thisAnchor.attr('href').toLowerCase();

                // Current page url matchs anchor url
                //if (curUrl.indexOf(ancUrl) == 0) {
                //
                //}

                // Vars
                const thisAnchor = $(this);
                var curIdVal = $('#guestId').val().toLowerCase();
                var ancId = thisAnchor.attr('id').toLowerCase();

                // Current tab id matches tab id that was clicked
                if (curIdVal == ancId) {
                    
                    // Highlight tab by setting to active
                    thisAnchor.addClass('active');
                }
                // Debug display
                //thisAnchor.text(curIdVal);

                // Event to handle tab clicks
                //thisAnchor.click(function(){

                //    $('#guestId').val(thisAnchor.attr('id'));
                //})
            })
        })
    </script>
}