@{
    // Default vars
    var navClass = "";

    // Set defaults
    @switch (ViewBag.controller)
    {
        case "ecommerce":
            navClass = "navbar navbar-expand-sm navbar-toggleable-sm navbar-light bg-info border-bottom box-shadow mb-3";
            break;

        case "home":
            // Portfolio
            navClass = "navbar navbar-expand-sm navbar-toggleable-sm navbar-light bg-white border-bottom box-shadow mb-3";
            break;

        default:
            // Portal
            navClass = "navbar navbar-expand-sm navbar-toggleable-sm navbar-dark bg-primary border-bottom box-shadow mb-3";
            break;

    }
}


<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - Portfolio</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <!-- Bootstrap Font Icon CSS -->
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.5.0/font/bootstrap-icons.css">
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/Portfolio.styles.css" asp-append-version="true" />
</head>
<body class="bg-light">
    <header>
        <nav class="@navClass">
            <div class="container-fluid">

                @switch (ViewBag.controller)
                {
                    case "ecommerce":
                        <a class="navbar-brand" asp-area="" asp-controller="ECommerce" asp-action="ECommerce">ECommerce</a>
                        break;

                    case "home":
                        // Portfolio
                        <a class="navbar-brand" asp-area="" asp-controller="Home" asp-action="Index">Portfolio</a>
                        break;

                    default:
                        // Portal
                        <a class="navbar-brand" asp-area="Identity" asp-page="/Account/Login">Portal</a>
                        break;

                }

                <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target=".navbar-collapse" aria-controls="navbarSupportedContent"
                        aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="navbar-collapse collapse d-sm-inline-flex justify-content-between">

                    <!-- Left Menus -->
                    <ul class="navbar-nav flex-grow-1">

                        <li class="nav-item">

                            @switch (ViewBag.controller)
                            {
                                case "ecommerce":
                                    //<a class="nav-link text-dark" asp-area="" asp-controller="ECommerce" asp-action="Ecommerce">Home</a>
                                    break;

                                case "home":
                                    // Portfolio has no home button
                                    break;

                                default:
                                    // Portal has no home button -->
                                    break;

                            }

                        </li>

                    </ul>

                    <!-- Right Menus -->
                    <ul class="navbar-nav flex-grow-2">

                        <partial name="_LoginPartial.cshtml" />

                        @switch (ViewBag.controller)
                        {
                            case "ecommerce":
                                <li class="nav-item">
                                    <a id="manage" class="nav-link" style="font-weight:bold; color:black;" asp-controller="ECommerce" asp-action="Cart" title="Manage">
                                        <i id="boot-icon" class="bi bi-cart" style="font-size: 1rem; color: rgb(0, 128, 55); text-shadow: rgb(0, 0, 0) 0px 0px 0px; -webkit-text-stroke-width: 2px;">
                                        </i>
                                        <span id="cartIconQty">
                                            Cart(@ViewBag.cartIconQty)
                                        </span>
                                    </a>
                                </li>
                                break;

                            case "home":
                                // Portfolio
                                break;

                            default:
                                // Portal
                                break;

                        }

                    </ul>
                </div>
            </div>
        </nav>
    </header>

    <div class="container">
        <main role="main" class="pb-3">
            @RenderBody()
        </main>
    </div>

    <footer class="border-top fixed-bottom bg-white shadow-lg">

        <!--Top Padding-->
        <div class="container p-2"></div>

        <div align="center">
            <div class="container">
                <div class="row">
                    <div class="col">
                        <a asp-controller="Home" asp-action="Index">Welcome</a>
                    </div>
                    <div class="col">
                        <a asp-area="Identity" asp-page="/Account/Login">Portal</a>
                    </div>
                    <div class="col">
                        <a asp-controller="ECommerce" asp-action="ECommerce">eCommerce</a>
                    </div>
                    <div class="col">
                        Restaurant
                    </div>
                    <div class="col">
                        Gaming
                    </div>
                </div>
            </div>
        </div>

        <!--Bottom Padding-->
        <div class="container p-2"></div>

    </footer>

    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>
