@page
@model RegisterConfirmationModel
@{
    ViewData["Title"] = "Register confirmation";
}

<h2>Registration Completed</h2>
@{
    <p>
        You can now <a asp-area="Identity" asp-page="/Account/Login">login</a>.
    </p>
}


